<h1>Kanban Board</h1>
<div cdkDropListGroup class="container-cards">
  <div class="example-container">
    <h2>To do</h2>

    <div *ngIf="cardsToDo.length > 0">
      <div
        cdkDropList
        [cdkDropListData]="cardsToDo"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >
        <mat-card *ngFor="let item of cardsToDo" cdkDrag>
          <mat-card-title> {{ item.titulo }} </mat-card-title>
          <mat-card-content>
            <p>
              {{ item.conteudo }}
            </p>
          </mat-card-content>
          <mat-card-footer>
            <mat-progress-bar mode="indeterminate" *ngIf="loadingCard"></mat-progress-bar>
          </mat-card-footer>
        </mat-card>
      </div>
    </div>

    <div class="create-button">
      <button mat-mini-fab color="primary" (click)="showNewCard = true">
        <mat-icon>create</mat-icon>
      </button>
    </div>
    <form [formGroup]="formCard" (ngSubmit)="createCard()" *ngIf="showNewCard">
      <mat-card>
        <mat-card-title>
          <mat-form-field appearance="outline" [style.fontSize.px]="14">
            <mat-label>Título</mat-label>
            <input matInput formControlName="titulo" />
            <mat-error *ngIf="formCard.get('titulo').hasError('required')">
              Campo obrigatório
            </mat-error>
          </mat-form-field>
        </mat-card-title>
        <mat-card-content>
          <mat-form-field appearance="outline">
            <mat-label>Conteúdo</mat-label>
            <textarea matInput formControlName="conteudo" rows="5"></textarea>
            <mat-error *ngIf="formCard.get('conteudo').hasError('required')">
              Campo obrigatório
            </mat-error>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-flat-button color="primary" type="submit">
            Cadastrar
          </button>
          <button
            mat-button
            color="primary"
            type="button"
            (click)="showNewCard = false"
          >
            Cancelar
          </button>
        </mat-card-actions>
        <mat-card-footer>
          <mat-progress-bar
            mode="indeterminate"
            *ngIf="loadingNewCard"
          ></mat-progress-bar>
        </mat-card-footer>
      </mat-card>
    </form>
  </div>

  <div class="example-container">
    <h2>Doing</h2>

    <div *ngIf="cardsDoing.length > 0">
      <div
        cdkDropList
        [cdkDropListData]="cardsDoing"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >
        <mat-card *ngFor="let item of cardsDoing" cdkDrag>
          <mat-card-title> {{ item.titulo }} </mat-card-title>
          <mat-card-content>
            <p>{{ item.conteudo }}</p>
          </mat-card-content>
          <mat-card-footer>
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </mat-card-footer>
        </mat-card>
      </div>
    </div>
  </div>

  <div class="example-container">
    <h2>Done</h2>

    <div *ngIf="cardsDone.length > 0">
      <div
        cdkDropList
        [cdkDropListData]="cardsDone"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >
        <mat-card *ngFor="let item of cardsDone" cdkDrag>
          <mat-card-title> {{ item.titulo }} </mat-card-title>
          <mat-card-content>
            <p>{{ item.conteudo }}</p>
          </mat-card-content>
          <mat-card-footer>
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </mat-card-footer>
        </mat-card>
      </div>
    </div>
  </div>
</div>
